/*  */
/* CONFIGURATOR PAGE STYLES */
:root {
  font-family: "Quicksand", sans-serif;
}

body {
  /* background-color: blue; */
}
#configurator {
  display: flex;
  gap: 1em;
}

#product-preview {
  width: 50vw;
  box-shadow: 3px 3px 8px #ddd;
  border-radius: 1em;
  position: relative;
  transition: opacity ease-in 0.5s;
}
#options .option img {
  width: 7vw;
  height: auto;
}

#product-preview img {
  position: absolute;
  width: 50%; /*100%*/
  height: auto;
}

#product-preview .handles {
  top: 0vh;
  left: 0;
  width: 30%;
  transform: translate(50%, 130%);
}

#product-preview .locks {
  top: 0vh;
  left: 0vw;
  width: 40%;
  transform: translate(100%, 100%);
}

#product-preview .hide {
  opacity: 0;
}

#product-preview img.basic {
  position: relative;
}

#options {
  box-shadow: 3px 3px 8px #ddd;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#options .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
}

#options .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#options .option.chosen {
  text-decoration: underline;
  color: #000;
}

#options .option figcaption {
  font-size: 20px;
}

#selected {
}

#selected ul {
  list-style-type: none;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  width: 20vw; /*3em*/
}

/* Animation classes */

.animate-feature-in {
  /* DONE: Create animation for adding a feature */
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-feature-out {
  /* DONE: Create animation for removing a feature */
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: reverse;
}
@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

/*  */
/* STYLES FOR THE SVG PRODUCT */

section {
  max-width: 600px;
}

.g_to_interact {
  fill: transparent;
}

#Shadow_Image {
  pointer-events: none;
}

path {
  stroke-width: 2;
}

#options .option img {
  width: 7vw;
  height: auto;
}

.square {
  width: 5vw;
  height: 5vw;
  background-color: #858c80;
  margin: 10px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}
