* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgb(186, 189, 229);
}

.top-container h1 {
  text-align: center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #0d1930;
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.sec {
  border-top: 4px solid white;
  position: relative;
  max-width: 100%;
  min-height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: BAC0E6;
  transition: 0.5s;
}

.content {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 50px;
}

.content .textBox h2 span {
  font-size: 2em;
}

.content .textBox p {
  color: #fff;
  margin-left: 50px;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 50px;
}

.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: -156px;
  transform: translate(-50%);
  display: flex;
}

.thumb li img {
  width: 400px;
  height: auto;
}

.imgBox img {
  width: 400px;
  height: auto;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
  height: 235px;
  width: 50px;
}

.thumb li:hover {
  transform: translate(-20px);
}

.thumb li img {
  max-width: 80px;
  height: 100px;
}

.slide-in-left {
  animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tilt-in-fwd-tr {
  animation: tilt-in-fwd-tr 1s ease-in-out both;
}

@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .content .textbox h2 {
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    top: 10%;
  }

  .top-container h1 {
    font-size: 2em;
  }

  .thumb {
    flex-grow: 2;
    bottom: -240px;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .thumb li {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .top-container h1 {
    font-size: 1.5em;
  }
}
