* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #0d1930;
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

#header_frontpage {
  background-color: #0062be;
}
.sec {
  border-top: 4px solid white;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0062be;
  transition: 0.5s;
}

.content {
  position: relative;
  margin-top: -250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.content .textBox h2 span {
  font-size: 2em;
}

.content .textBox p {
  color: #fff;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 260px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translate(-20px);
}

.thumb li img {
  max-width: 60px;
}

.slide-in-left {
  animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tilt-in-fwd-tr {
  animation: tilt-in-fwd-tr 1s ease-in-out both;
}

@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
