* {
  margin: 0;
}

/*  FONTS  */

h1 {
  font-family: "Orbitron", sans-serif;
  color: #0d1930;
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

/*  STYLES HEADER  */

nav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

nav ul {
  text-align: center;
  padding: 0px;
  z-index: 1;
  position: relative;
}

nav li {
  display: inline;
  text-align: center;
}

li a {
  display: block;
  color: white;
  padding: 14px 36px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

li a:hover {
  background-color: #1b1c29;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

#menuknap {
  display: inline-block;
  position: fixed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  margin-top: -15px;
  z-index: 1;
  position: relative;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media (min-width: 700px) {
  #menuknap {
    display: none;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }

  #menu li {
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

  .left-container {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    margin-bottom: 0px;
  }

  header {
    text-align: center;
  }
}

/* FRONTPAGE STYLES */
#splash {
  width: 100vw;
  height: 56.25vw;
  background-image: url(images/forside_splash.png);
  background-size: cover;

  background-position: 23% 10%;
  max-width: none;
  min-height: 87vh;
}

#splash a.button {
  background-color: #000;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 4px 4px 7px rgba(113, 113, 113, 0.78);
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
}
