* {
  margin: 0;
}

/*  FONTS  */

h1 {
  font-family: "Baskervville", sans-serif;
  color: #3aa397;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

/*  STYLES HEADER  */

nav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

nav ul {
  background-color: #cb9269;
  text-align: center;
  padding: 0px;
  z-index: 1;
  position: relative;
}

nav li {
  display: inline;
  background-color: #cb9269;
  text-align: center;
}

li a {
  display: block;
  color: rgb(17, 16, 16);
  padding: 14px 36px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

li a:hover {
  background-color: #edb893;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

#menuknap {
  display: inline-block;
  position: fixed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  margin-top: -15px;
  z-index: 1;
  position: relative;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media (min-width: 700px) {
  #menuknap {
    display: none;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }

  #menu li {
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #cb9269;
    top: 0;
    width: 100%;
  }

  .top-container {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    margin-bottom: 0px;
  }

  header {
    background-color: #cb9269;
    text-align: center;
  }
}
