* {
  margin: 0;
}

/*  FONTS  */

h1 {
  font-family: "Orbitron", sans-serif;
  color: #0d1930;
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
}

/*  STYLES HEADER  */

nav {
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
}

nav ul {
  text-align: center;
  padding: 0px;
  z-index: 1;
  position: relative;
}

nav li {
  display: inline;
  text-align: center;
}

li a {
  display: block;
  color: rgb(17, 16, 16);
  padding: 14px 36px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.11rem;
  font-weight: 300;
}

li a:hover {
  background-color: #c9c2bd;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

#menuknap {
  display: inline-block;
  position: fixed;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  margin-top: -15px;
  z-index: 1;
  position: relative;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media (min-width: 700px) {
  #menuknap {
    display: none;
  }

  .hidden {
    opacity: 1;
    transform: translateX(0);
  }

  #menu li {
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

  .left-container {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    margin-bottom: 0px;
  }

  header {
    text-align: center;
  }
}

/* FRONTPAGE STYLES */
#splash {
  width: 100vw;
  height: 56.25vw;
  background-image: url(images/forside_splash.png);
  background-size: cover;

  background-position: 23% 10%;
  max-width: none;
  min-height: 87vh;
}

#splash a.button {
  background-color: #000;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 4px 4px 7px rgba(113, 113, 113, 0.78);
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
}

/*  */
/* CONFIGURATOR PAGE STYLES */
:root {
  font-family: "Quicksand", sans-serif;
}

#configurator {
  display: grid;
  grid-template-areas:
    "product options"
    "features features";
  gap: 1em;
}

#product-preview {
  grid-area: product;
  box-shadow: 3px 3px 8px #ddd;
  border-radius: 1em;
  position: relative;
  transition: opacity ease-in 0.5s;
}

#product-preview img {
  position: absolute;
  width: 50%; /*100%*/
  height: auto;
  top: 0;
  left: 0;
}

#product-preview .hide {
  opacity: 0;
}

#product-preview img.basic {
  position: relative;
}

#options {
  grid-area: options;
  box-shadow: 3px 3px 8px #ddd;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#options .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
}

#options .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#options .option.chosen {
  text-decoration: underline;
  color: #000;
}

#options .option img {
  width: 7vw;
  height: auto;
}

#options .option figcaption {
  font-size: 20px;
}

#selected {
  grid-area: features;
}

#selected ul {
  list-style-type: none;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  width: 5em; /*3em*/
}

/* Animation classes */

.animate-feature-in {
  /* DONE: Create animation for adding a feature */
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-feature-out {
  /* DONE: Create animation for removing a feature */
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: reverse;
}
@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

/*  */
/* STYLES FOR THE SVG PRODUCT */

section {
  max-width: 600px;
}

.g_to_interact {
  fill: transparent;
}

#Shadow_Image {
  pointer-events: none;
}

path {
  stroke-width: 2;
}

/***About***/

.slide-in-left {
  animation: slide-in-left 1s ease-out both;
  width: 50vh;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h1 {
  text-align: center;
}

#frontpage {
  background-color: blue;
}
